body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
}

.onepage-wrapper .section {
  width: 100%;
/*   height: 100%; */
}

.onepage-pagination {
  position: absolute;
  right: 28px;
  top: 50%;
  margin-top: -220px;
  z-index: 5;
  list-style: none;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 20px 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 4px #000;
  transition: 0.3s;
}
.onepage-pagination.up li a:before{
  transform: rotate(-180deg);
  transition: 0.3s;
}
.onepage-pagination.down li a:before{
  transform: rotate(0deg);
  transition: 0.3s;
}
.onepage-pagination li a.active:before {
    width: 47px;
    height: 40px;
    margin-top: -15px;
    left: -9px;
    background: url(../img/plane-shadow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 5;
    box-shadow: none;
    transition: 0.5s;
}
.onepage-pagination li a:not(.active):hover:before {
    transform: scale(3);
    transition: 0.3s;
  }




@media screen and (max-width:991px) {
  .onepage-pagination {
      right: 10px !important;
  }
}



@media screen and (max-width:767px) {
  .onepage-pagination li a {
      padding: 10px 10px;
  }
  .onepage-pagination {
      top: 90%;
  } 
  .onepage-pagination li a.active:before {
      width: 26px;
      height: 25px;
      margin-top: -12px;
      left: 0px;
  }
}


@media screen and (max-width:568px) {
  .onepage-pagination {
      right: 5px !important;
  }
}   
