@media screen and (min-width:768px) {
.nav-block.left-aligned:not(:first-child) .image {
    left: 1000%;
    overflow: hidden;
    padding: 0;
}
.nav-block.right-aligned:not(:first-child) .image {
    right: -1000%;
    overflow: hidden;
    padding: 0;
}
.nav-block:not(:first-child) .content {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}
.nav-block.left-aligned:not(:first-child) .content {
    position: absolute;
    right: -1000%;
}
.nav-block.right-aligned .content {
    position: absolute;
    left: -1000%;
}

}

@media screen and (max-width:1320px) {
	.left-aligned .image:before {
		left: -170px;
	}
	.right-aligned .image:before {
		left: 360px;
	}
	.nav-block .image {
    	background-size: cover !important;
	}

}



@media screen and (max-width:1200px) {
	.nav-block .image {
	    background-size: auto 100% !important;
	}	
	.menu ul li {
	    padding: 5px 10px;
	    font-size: 18px;
	}
	.image h2 {
	    font-size: 35px;
	}
}



@media screen and (max-width:991px) {
	.footer-info {
		padding: 0 20px;
	}	
	.footer-info > div:not(:last-child) {
    	margin-bottom: 25px;
	}
	.info-content {
	    padding: 40px 20px;
	}
	.info-content {
	    padding: 40px 20px;
	}	
	h2.footer-title, .footer-info .social-media i {
	    font-size: 18px;
	}
	.footer .menu ul li, .contacts li, p.copyrights {
	    font-size: 14px;
	}
	.menu ul li {
	    font-size: 15px;
	}	
	.top {
	    margin: 0 20px;
	}
	.nav {
	    padding: 20px 20px;
	    width: calc(100% - 40px);
	}
	.banner-info {
	    -webkit-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	    top: 18%;
	}
	.wellcome-txt {
	    padding: 50px 20px;
	    width: 85%;
	    text-align: center;
	    font-size: 3em;
	}
	.board {
	    width: 80%;
	    padding: 50px 20px;
	}
	section#partners {
	    padding: 50px 0;
	}
	#departing .image, #arriving .image, #waiting .image, #service .image, #documents .image {
	    background-size: auto 100%;
	}
	.nav-block.left-aligned .image h2 {
	    left: 40px;
	}
	.nav-block.right-aligned .image h2 {
	    right: 40px;
	}
	.image h2 {
	    font-size: 30px;
	}
	.content, .nav-block .image  {
	    height: 330px;
	}
	.nav-block {
	    max-height: 330px;
	}
	.service {
	    margin: 20px 0;
	}
	.page-content {
    	background-size: auto 100% !important;
    	padding: 40px;
	}
	.left {
	    float: none;
	    width: 100%;
	}
	.left img {
	    display: block;
	    margin: 0 auto;
	}
	.right-aligned .image:before {
	    left: 280px;
	}
}



@media screen and (max-width:767px) {
	.footer-info {
	    -webkit-flex-flow: column nowrap;
	    flex-flow: column nowrap;
		-webkit-align-items: center;
		align-items: center;
	}	
	.footer-info > div:not(:last-child) {
    	margin-bottom: 10px;
	}
	.footer .menu ul {
	    -webkit-align-items: center;
	    align-items: center;
	}
	.footer .menu {
		text-align: center;
	}
	.contacts {
	    text-align: center;
	}
	h2.footer-title {
	    font-size: 16px;
	    margin-bottom: 5px;
	}
	.contacts li, p.copyrights {
	    line-height: 16px;
	}
	.footer .menu ul li {
	    padding: 2px 0;
	}
	.social-media {
	    text-align: center;
	}
	.contacts li {
	    line-height: 20px;
	}
	.footer-info .social-media i {
	    font-size: 24px;
	    margin: 0 4px;
	}
	.footer {
	    padding: 20px 0px;
	    height: 100%;
	}
	#about-city, #partners, #services {
		height: 100vh;
		max-height: 100vh
	}
	.wellcome-txt {
	    display: none;
	}
	.image h2 {
	    font-size: 0;
	}
	.partners-section a:nth-child(2) img {
	    height: 60%;
	    width: auto;
	}
	.avia-info p, .social-media {
	    display: none;
	}
	.nav .logo img {
	    width: 48px;
	}
	.nav > .logo {
	    display: none;
	}
	.top {
	    padding: 20px 0;
	}
	.weather {
	    display: none;
	}
	.burger-btn {
		display: block;
	}
	.board-container {
	    background: rgba(0, 0, 0, 0.4);
	    height: 145px;
	}
	a.icon {
	    width: 130px;
	    height: 130px;
	}
	.services-nav {
	    margin-top: 0;
	}
	.services-nav h3 {
	    font-size: 26px;
	}
	.mobile-logo {
		display: block;
	    position: absolute;
	    top: 4px;
	    left: 50%;
	    margin-left: -24px;
	    z-index: 5;
	}
	.nav .menu {
		display: none;
	    background: rgba(255, 255, 255, 0.95);
	    border-radius: 5px;
	}
	.menu ul li a {
	    color: #000;
	    padding: .2em 0;
	}
	.menu ul {
	    -webkit-flex-flow: column nowrap;
	    flex-flow: column nowrap;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	.nav {
	    padding: 8px 20px;
	    width: calc(100% - 40px);
	}
	.service {
		display: none;
	}
	.flexslider.mobile {
		display: block;
	}
	.services-nav p {
		font-size: 18px;
	}
	.footer .menu ul li a {
		color: #fff;
	}
	.page-content {
	    padding: 0;
	}
	.info-content h2, .page-content h2 {
	    margin-top: 20px;
	}
	.info-content h2, .page-content h2 {
	    display: none;
	}
	.page:not(.home) .page-menu .top {
    	border-bottom: none;
	}
	.page:not(.home) .burger-btn {
		top: 15px;
	}
	.page:not(.home) .mobile-logo {
    	top: 10px;
	}
	.single .page-menu .nav {
	    top: 58px;
	}
	.single .page-menu .lang-switcher {
	    margin-right: 20px;
	    margin-top: 3px;
	}
	section#services, section#partners {
    	padding: 20px 0;
	}
	.mobile-navigation .nav-block, .mobile-navigation .nav-block .image, .mobile-navigation .nav-block .content {
	    height: 100vh;
	}
	.content .button-wrapper, .content h3, .content p {
	    display: block;
	}
	.mobile-navigation {
		display: block;
	}
	.viewport {
		display: none;
	}
	.left-aligned .image:before, .right-aligned .image:before {
	    height: 100vh;
	}
	.main-img h2 {
	    bottom: auto;
	    top: 50%;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    font-size: 3.5em;
	}
	.info-content {
    	padding: 15px 10px;
	}
	.page:not(.home) .page-menu .nav {
	    position: absolute;
	    box-shadow: none;
	}
}





@media screen and (max-width:568px) { 
	.content {
	    width: 100%;
	    left: 0;
	}
	.nav-block.left-aligned .content, .nav-block.right-aligned .content {
	    padding-right: 25px;
	    padding-left: 25px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.image:nth-child(2n):after, .image:nth-child(2n+1):after {
	    border: none;
	}
	.image:nth-child(2n+1):before, .image:nth-child(2n):before {
	    -webkit-transform: skew(0deg);
	    -moz-transform: skew(0deg);
	    -o-transform: skew(0deg);
	    transform: skew(0deg);
	    left: 0;
	    width: 100%;
	    height: 100%;	    
	}
	.nav-block .image {
		width: 100%;
		background-size: cover !important;
	}
	.content h3, .content .button-wrapper, .content p  {
	    z-index: 5;
	}
	.content p {
	    padding: 0 25px;
	}
	.partners-section {
	    -webkit-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	    padding: 0 40px;
	}
	.partners-section a {
	    width: 100%;
	    height: 130px;
	}
	.partners-section a:nth-child(2) img {
	    height: 90%;
	}
	.content h3 {
	    text-shadow: 1px 1px 1px #000;
	}
	.content p {
	    text-shadow: 1px 1px 1px #000;
	    color: #fff;
	}
	.flight > div ul li, .flight-arrival > div ul li {
	    z-index: 5;
	    font-size: 12px;
	}
	.tabs > div {
	    font-size: 14px;
	}
	.onepage-pagination {
	    right: 5px !important;
	}	
	.info-page-content {
	    padding: 20px;
	    text-align: justify;
	}
	.partners-section {
	    margin-top: 15px;
	}
}
