/*Reset css --------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
a:hover {
	color: #9961A0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	margin: 0;
	font-family: 'Open Sans';
	background: #fff;
    background-size: cover;
}
body.home {
	background: url(../img/amazing-clouds2.png);
	background-size: cover;
    background-repeat: no-repeat;
}
/*END Reset css --------------*/



/*Fonts --------------*/
@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../fonts/Proxima_Nova/ProximaNovaBold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNovaBold.eot?') format('eot'),
	url('../fonts/Proxima_Nova/ProximaNovaBold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNovaBold.ttf') format("truetype"),
	url("../fonts/Proxima_Nova/ProximaNovaBold.otf")  format('opentype'),
	url('../fonts/Proxima_Nova/ProximaNovaBold.svg#svgProximaNovaBold') format('svg');
}
@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('../fonts/Proxima_Nova/ProximaNovaRegular.eot');
	src: url('../fonts/Proxima_Nova/ProximaNovaRegular.eot?') format('eot'),
	url('../fonts/Proxima_Nova/ProximaNovaRegular.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNovaRegular.ttf') format("truetype"),
	url('../fonts/Proxima_Nova/ProximaNovaRegular.otf')  format('opentype'),
	url('../fonts/Proxima_Nova/ProximaNovaRegular.svg#svgProximaNovaRegular') format('svg');
}
@font-face {
	font-family: 'ProximaNovaLight';
	src: url('../fonts/Proxima_Nova/ProximaNovaLight.eot');
	src: url('../fonts/Proxima_Nova/ProximaNovaLight.eot?') format('eot'),
	url('../fonts/Proxima_Nova/ProximaNovaLight.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNovaLight.ttf') format("truetype"),
	url('../fonts/Proxima_Nova/ProximaNovaLight.otf')  format('opentype'),
	url('../fonts/Proxima_Nova/ProximaNovaLight.svg#svgProximaNovaLight') format('svg');
}

@font-face {
    font-family:"Open Sans";
    src:url("../fonts/open_sans/OpenSans-Regular.eot?") format("eot"),
    url("../fonts/open_sans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/open_sans/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/open_sans/OpenSans-Regular.svg#OpenSans") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family:"Open Sans Condensed Light";
    src:url("../fonts/open_sans/OpenSans-CondLight.eot?") format("eot"),
    url("../fonts/open_sans/OpenSans-CondLight.woff") format("woff"),
    url("../fonts/open_sans/OpenSans-CondLight.ttf") format("truetype"),
    url("../fonts/open_sans/OpenSans-CondLight.svg#OpenSans-CondensedLight") format("svg");
    font-weight:normal;font-style:normal;
}

/*END Fonts --------------*/


.transition {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}


/*Main page style --------------*/

/*Banner*/
.lang-switcher a.active {
    font-weight: 600;
}
.lang-switcher a {
    color: #fff;
    transition: 0.3s;
}
.lang-switcher a:hover {
    font-weight: 600;
    transition: 0.3s;
}
.main-banner {
	width: 100%;
	height: 100vh;
	background: url(../img/Airplane-Wallpaper-Full-HD.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.main-banner:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}
.nav {
	position: absolute;
	padding: 20px 80px; 
	z-index: 5;
	width: calc(100% - 160px);
}
.logo img {
	width: 90px;
}
.menu ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.menu a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #9961a0;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.page:not(.home) .menu a:before {
    background: #000;
}
.menu a:hover:before {
    left: 0;
    right: 0;
}
.menu ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    margin: .4em;
    padding: .5em 0;
    cursor: pointer;
}
.nav, .menu ul, .top {
	display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.menu ul li {
	padding: 5px 40px;
	font-size: 20px;
}
.weather {
    color: #fff;
    width: 220px;
}
.weather-sec > div {
    float: right;
    width: 100%;
    text-align: right;
}
.weather-sec img {
    width: auto;
    float: left;
    margin-left: .7em;
}
.weather-sec p {
    color: #fff;
}
.celcius {
    font-size: 2.5em;
    font-weight: 400;
    color: #fff;
}
.fahrenheit {
    font-size: .4em;
}
.weather p {
    float: right;
    width: 150px;
    text-align: left;
}
.banner-info {
    position: absolute;
    top: 34%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    z-index: 3;
}
.wellcome-txt, .board {
	width: 50%;
	padding: 50px 80px;
}
.wellcome-txt {
    width: 50%;
    font-size: 3.5em;
    color: #fff;
    z-index: 5;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.73);
}
.violet {
	color: #9961a0;
	font-size: 1.1em;
}
.board-container {
    background: rgba(0, 0, 0, 0.4);
    height: 200px;
}
.tabs > div:hover {
    background: rgba(0,0,0,0.4);
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.board > div {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33);
    cursor: pointer;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.tabs > div {
    background: rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.tabs > div.active{
    background: rgba(0,0,0,0.4);
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.top {
	padding: 10px 60px; 
}
.social-media {
	z-index: 5;
}
.social-media ul li {
    float: left;
    margin-right: 10px;
}
.social-media ul li a {
    color: #fff;
    z-index: 5;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.social-media ul li a:hover {
    color: #9961a0;
    z-index: 5;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.top {
    margin: 0 80px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.66);
    color: #fff;
}
.avia-info, .lang-switcher {
    z-index: 5;
}
.bold-txt {
	font-weight: 600;
}
.avia-info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-align-items: center;
    align-items: center;
}
.avia-info p {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.66);
}
.tabs div {
    color: #fff;
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px 0;
}
.clearfix {
    clear: both;
}
.flight, .flight-arrival {
    color: #fff;
}
.flight-arrival {
	display: none;
}
.flight > div ul, .flight-arrival > div ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}
.flight > div ul li, .flight-arrival > div ul li {
    z-index: 5;
}
.board {
    font-size: 18px;
    z-index: 5;
}
.flight div, .flight-arrival div {
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.flight div:hover, .flight-arrival div:hover {
    background: rgba(0, 0, 0, 0.33);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(153, 97, 160, 0.16))  rgba(0, 0, 0, 0.51);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(153, 97, 160, 0.16))  rgba(0, 0, 0, 0.51);
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(153, 97, 160, 0.16))  rgba(0, 0, 0, 0.51);
    background: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(153, 97, 160, 0.16))  rgba(0, 0, 0, 0.51);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(153, 97, 160, 0.16))  rgba(0, 0, 0, 0.51);
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.flight .violet, .flight-arrival .violet {
	z-index: 15;
}
.burger-btn {
    position: absolute;
    display: none;
    top: 10px;
    left: 20px;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    z-index: 5;
    border-radius: 5px;
    cursor: pointer;
}
.burger-btn {
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
}
.page:not(.home) .burger-btn {
    color: #000;
}
.page:not(.home) .burger-btn {    
    border: 2px solid #000;
}
.mobile-logo img {
    width: 100%;
}
.mobile-logo {
    display: none;
    width: 60px;
    position: absolute;
    top: 4px;
    left: 50%;
    margin-left: -30px;
}
.page:not(.home) .lang-switcher {
    top: 10px;
    position: relative;
}



/*Services*/
section#partners {
    background: #eee;
    padding: 40px 0;
}
section#services {
    background: #eee;
}
.services-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
}
.service {
    width: 25%;
}
.services-nav h3 {
    font-size: 22px;
    color: #424242;
    font-weight: bold;
    text-align: center;
}
a.icon {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
a.icon.active {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 3px solid #6F3F75;
}
a.icon:hover {
    border: 3px solid #6F3F75;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
a.icon i {
    color: #9961a0;
    font-size: 6em;
}
.services-nav p {
    padding: 10px;
    text-align: center;
    color: #666;
}
.service {
    width: 25%;
    margin: 20px;
    margin-bottom: 0;
    padding: 10px;
    min-height: 160px;
    border-radius: 10px;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
}
.services-nav .icon {
    -webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.service:hover .icon {
	transform: rotate(-30deg);
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-animation-iteration-count: infinite; 
	animation-iteration-count: infinite; 
}
.services-nav .departing .icon {
	background: url('../img/flight.png'), #9961A0; 
	background-size: 85%;
	background-position: center center;
	background-repeat: no-repeat;
}
.services-nav .arriving .icon {
	background: url('../img/arrival.png'), #9961A0; 
	background-size: 85%;
	background-position: center center;
	background-repeat: no-repeat;
}
.services-nav .waiting .icon {
    background: url('../img/waiting.png'), #9961A0;
    background-size: 76%;
    background-position: center center;
    background-repeat: no-repeat;
}
.services-nav .services .icon {
	background: url('../img/service.png'), #9961A0; 
	background-size: 76%;
    background-position: center center;
    background-repeat: no-repeat;
}
.services-nav .documents .icon {
	background: url('../img/doc.png'), #9961A0; 
	background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

div#services {
    padding: 20px 60px 40px;
}
.section-title {
    text-align: center;
    font-size: 32px;
    position: relative;
    font-family: 'proximanovaLight';
}
#services h2.section-title {
    padding-top: 20px;
}
#services h2.section-title:after {
    top: 55px;
}
.section-title:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background: rgba(153, 97, 160, 0.48);
    top: 35px;
    left: 50%;
    margin-left: -40px;
}
.flexslider.mobile {
    display: none;
    width: 100%;
    border: none;
    background: transparent;
    padding: 0 45px;
    margin-top: 35px;
}
.flex-control-nav {
    left: 0 !important;
}
.flex-direction-nav .flex-prev {
    left: 30px !important;
}
.flex-direction-nav .flex-next {
    right: 30px !important;
}




/*about city*/
#about-city {
	background-size: cover !important;
	/*background-attachment: fixed;*/
	height: 350px;
	position: relative;
}
#about-city:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 26, 62, 0.42);
    z-index: 5;
}

.button-wrapper, .button-wrapper:after, .button-wrapper a, .button-wrapper span {
    transition: all .2s;
    cursor: pointer;
}
.button-wrapper {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 35px;
    height: 55px;
    width: 180px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    z-index: 15;
}
.button-wrapper a {
    background-color: #814888;
    border: 0;
    height: 55px;
    width: 210px;
    margin-left: -30px;
    border-right: solid 90px #9961A0;
    color: white;
    position: relative;
    -ms-transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;
    outline: 0;
    display: inline-block;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.button-wrapper span {
    z-index: 2;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    line-height: 58px;
    -ms-transform: skew(15deg);
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
    display: inline-block;    
    margin-left: 36px;
}
.button-wrapper i {
    position: absolute;
    right: -20px;
    top: 20px;
}
.button-wrapper a:hover {
	background-color: #663C6B;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}


/*Navigation*/
.nav-block {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.nav-block, .nav-block .image, .nav-block .content { 
    height: calc(100vh - 272px);
}
.content .button-wrapper, .content h3, .content p {
    
}
#nav5 .image {
	background-repeat: no-repeat;
    background-size: 100%;	
}
.nav-block .image {
    width: 52%;
    position: relative;
    padding-bottom: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: auto 100% !important;
}
.nav-block.right-aligned .image {
    order: 2;
}
.left-aligned .image:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 700px solid white;
    border-left: 500px solid transparent;
    right: 0;
    top: 0;
}
.right-aligned .image:after {
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 700px solid #fff;
    border-right: 500px solid transparent;
    left: 0;
    top: 0;
}
.left-aligned .image:before {
    content: '';
    display: block;
    width: 75%;
    height: calc(100vh - 272px);
    -webkit-transform: skew(-36deg);
    -moz-transform: skew(-36deg);
    -o-transform: skew(-36deg);
    transform: skew(-36deg);
    background: rgba(0, 0, 0, 0.33);
    -webkit-filter: blur(2px);
    left: -255px;
    position: relative;
}
.right-aligned .image:before {
    content: '';
    display: block;
    width: 75%;
    height: calc(100vh - 272px);
    -webkit-transform: skew(36deg);
    -moz-transform: skew(36deg);
    -o-transform: skew(36deg);
    transform: skew(36deg);
    background: rgba(0, 0, 0, 0.33);
    -webkit-filter: blur(2px);
    left: 465px;
    position: relative;
}
.content {
    width: 43%;
    background: #fff;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.content {
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.image h2 {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.64);
}
.nav-block.left-aligned .image h2 {
    left: 80px;
}
.nav-block.right-aligned .image h2 {
    right: 80px;
}
.content h3 {
    font-size: 32px;
    font-weight: 600;
    color: #9961a0;
    margin-bottom: 15px;
}
.content p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.content .button-wrapper {
    height: 40px;
    top: 25px;
}
.content .button-wrapper span {
	line-height: 38px;
    height: 36px;
    border: 2px solid #6F3F75;
    margin-left: 10px;
    width: 194px;
    color: #9961A0;
    text-align: center;
}
.content .button-wrapper i {
    top: 13px;
}
.content .button-wrapper a {
	height: 40px;
	border-right: 0;
	color: #fff;
	background-color: #FFFFFF;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;	
}
.content .button-wrapper:hover a {
	color: #fff;
	background-color: #6F3F75;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;	
}
.content .button-wrapper:hover span {
	color: #fff;
}
.content .button-wrapper span:after {
    content: '';
    width: 0;
    height: 0;
    top: -3px;
    border-bottom: 100px solid #9961A0;
    border-left: 42px solid transparent;
    position: absolute;
    right: 0px;
}
.content .button-wrapper span:before {
    content: '';
    display: block;
    width: 30px;
    height: 45px;
    position: absolute;
    background: #9961A0;
    right: -30px;
    top: -2px;
}
.content .button-wrapper i {
    position: absolute;
    right: -10px;
    z-index: 5;
}
.nav-block.left-aligned .content {
    padding-right: 80px;
    order: 2;
}
.nav-block.right-aligned .content {
    padding-left: 80px;
}





/*partners*/
div#partners {
    padding: 40px 60px;
}
.partners-section {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 80px;
}
.partners-section a {
    display: inline-block;
    width: 30%;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.partners-section a img {
    height: auto;
    width: 100%;
    position: absolute;
    left: -50%;
    top: -50%;
    bottom: -50%;
    right: -50%;
    margin: auto;
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
}
.partners-section a:nth-child(2) img {
    height: 100%;
    width: auto;
}
.partners-section a img:hover {
    -webkit-filter: grayscale(0);
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
/*END Main page style --------------*/






/*Plane Navigation --------------*/
.plane-nav {
    width: 2px;
    height: 50vh;
    position: fixed;
    top: 25vh;
    border-right: 2px dashed #fff;
    right: 38px;
    z-index: 5;
    display: none;
}
.plane-nav span {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    left: -4px;
    margin-bottom: 47px;
}
.plane-nav span:after {
 	content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: relative;
    left: 3px;
    top: 2px;
    background: #fff;

}
.plane {
    width: 40px;
    height: 40px;
    background: url(../img/plane.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -18px;
    top: -13px;
}
/*END Plane Navigation --------------*/





/*Footer --------------*/
.footer {
	padding: 40px 0px;
	background: #120215;
	box-shadow: 2px 2px 17px #000;
}
.footer-info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 0 80px;
}
.footer-info .social-media i {
    font-size: 24px;
    margin-right: 10px;
}
p.copyrights {
    color: #fff;
    top: -45px;
    left: 45px;
    position: relative;
}
p.copyrights a {
    text-decoration: none;
}
.footer .logo {
    text-align: left;
    position: relative;
    left: -40px;
}
.footer .menu ul {
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-items: flex-start; 
    align-items: flex-start; 
}
.footer .menu ul li {
    padding: 5px 0;
    font-size: 16px;
}
.footer .menu ul li a {
    margin: 0;
    padding: 0;
    text-transform: none;
}
.footer .menu a:before {
	content: none;
}
.footer .menu a:hover {
	color: #9961a0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
h2.footer-title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.contacts {
    color: #fff;
}
.contacts li {
    line-height: 24px;
}
.contacts li i {
    display: inline-block;
    width: 30px;
}
.footer a {
	color: #fff;
}
.footer a:hover {
	color: #9961A0;
}
/*END Footer --------------*/




/*Single-------------*/
.single .page-menu .top {
    position: absolute;
    width: 100%;
    margin: 0;
}
.page:not(.home) .lang-switcher a {
    color: #000;
    transition: 0.3s;
    top: -10px;
    position: relative;
}
.single .page-menu .nav {
    top: 38px;
    border-top: 1px solid rgba(255,255,255,0.6);
}
.single .page-menu .avia-info {
    margin-left: 80px;
}
.single .page-menu .lang-switcher {
    margin-right: 80px;
}
.single .page-menu li a, .single .page-menu .weather p, .single .page-menu .avia-info p, .single .page-menu .lang-switcher p {
    text-shadow: 0px 1px 0px #000;
}
.main-img {
    max-height: 500px;
    overflow: hidden;
    position: relative;
}
.main-img:before {
    content: '';
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-txt-content img {
    width: 100%;
    height: auto;
    left: -50%;
    top: -50%;
    bottom: -50%;
    right: -50%;
    margin: auto;
}
.info-content, .page-content {
    padding: 40px 80px;
}
.info-content h2, .page-content h2 {
    text-align: center;
    font-size: 32px;
    position: relative;
    font-family: 'proximanovaLight';
    margin-bottom: 15px;
}
.info-content h2:after, .page-content h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background: rgba(153, 97, 160, 0.48);
    top: 35px;
    left: 50%;
    margin-left: -40px;
}
.info-content p {
    margin: 15px 0;
    font-size: 18px;
    line-height: 22px;
}
.main-img h2 {
    position: absolute;
    bottom: 40px;
    left: 80px;
    color: #fff;
    font-size: 5em;
    text-shadow: 1px 1px 3px #000;
}
/*END Single-------------*/




/*Page-----------------*/
.page:not(.home) .page-menu .nav {
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.page:not(.home) .page-menu .top {
    color: #000;
    border-bottom: 1px solid rgba(2, 2, 2, 0.66);
}
.page:not(.home) .page-menu .top .social-media ul li a {
    color: #000;
}
.page:not(.home) .page-menu .avia-info p {
    border-right: 1px solid rgba(0, 0, 0, 0.66);
}
.page:not(.home) .page-menu .weather-sec p {
    color: #000;
}
.page:not(.home) .page-menu .menu ul li a {
    color: #9961a0;
} 
.page-content > img {
    margin: 40px auto 0 auto;
    display: block;
}
.page-content {
    background-size: 100% !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    /*-webkit-filter: blur(4px);*/
}
.info-page-content {
    background: rgba(255,255,255,0.90);
    padding: 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33);
    max-width: 1200px;
    margin: 0 auto;
}
.left {
    width: 50%;
    overflow: hidden;
    float: left;
    padding: 30px 30px 30px 0;
}
.info-page-content .left img {
    width: 100%;
    height: auto;
    left: -50%;
    top: -50%;
    bottom: -50%;
    right: -50%;
    margin: auto;
}
.info-page-content .info-content {
    padding: 20px 0 0 0;
}

/*END Page ------------*/


/*//////// WP Core ////////*/
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    max-width: 96%; 
    padding: 5px 3px 10px;
    text-align: left;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.wu-copyright {
    display: none;
}
.wu-forecast-wrapper div {
    margin-bottom: 5px;
    width: 50px !important;
}

.wu-wrapper div img, .wu-wrapper table img {
    width: 100% !important;
    height: auto !important;
}
span.wu-day-current-temp {
    color: #fff;
    font-size: 50px;
}
.page:not(.home) span.wu-day-current-temp, .page:not(.home) .wu-current-conditions .wu-day-title {
    color: #000 !important;
}
.wu-current-conditions .wu-day-title {
    color: #fff !important;
}
.wu-day-title {
    position: absolute;
    top: -15px;
    left: 68px;
}
.wu-current-conditions .wu-day-title small {
    margin-left: -20px !important;
    font-size: 50px !important;
}
/*//////// WP Core ////////*/



.viewport{
    width: 100%;
    height: calc(100vh - 272px);
    overflow: hidden;
    position: relative;
}
.slidewrapper{
    position: absolute;
    width: 1000%;
    left: 0;
    top: 0;
    height: calc(100vh - 272px);
    margin: 0;
    padding: 0;    
}
.nav-block {
    height: calc(100vh - 272px);
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
}
.mobile-navigation {
    display: none;
}
.mobile-navigation .nav-block, .mobile-navigation .nav-block .image, .mobile-navigation .nav-block .content {
    height: 0;
}





